    <!--<script src="assets/jsgrid.min.js"></script>-->
    <!--<script src="assets/jsgrid-date.js"></script>-->
    <script>
        $(function() {
            $("#dm_datepicker").datepicker();
        });

        $("#dm_visit_calendar_icon").click(function() {
            $('#dm_datepicker').datepicker("show");
        });

        $("#dm_datepicker").change(function() {
            var dateTypeVar = $('#dm_datepicker').datepicker('getDate');
            console.log(dateTypeVar);

            var selected_visit = $.datepicker.formatDate('M d, yy', dateTypeVar);
            $('#dm_details_visit').val(dateTypeVar);
            $('#dm_visit_date_0').html(selected_visit);
        });

        var dm_visit_date_div = $('#dm_date_row_div');
        dm_visit_date_div.append($('<div/>')
            .attr("id","dm_visit_date_0")
            .attr("align","center")
            .attr("style","margin-left:0px;padding-left:0px;margin-top:4px;border:0px dotted red;height:auto;")
            .append(
                $('<span/>')
                    .text("Select New Visit")
            )
        );

    </script>



<% examinations_for_diabetes = get_examinations_for_ailment("Diabetes") %>
<%last_100_years = get_last_100_years%>

<!--<div id="dm_details_input_div">-->

<!--</div>-->

<div id="dm_details_for_patient_div_parent">

  <div align="left" style="margin-left: 13px;margin-bottom:40px;height: 3vh;">

    <div id="dm_number_div" style="margin: 0px;">
      <b>DM No.</b> &nbsp; : &nbsp;&nbsp;&nbsp;
      <input style="display:none;" type="text" id="input_dm_details_dm_number" name="dm_details[dm_number]"/>
      <span style="padding-left: 0px;" id="span_dm_details_dm_number"> - </span>

      <br><br>

      <b>Under SSS Mobile Hospital care from</b> &nbsp; : &nbsp;&nbsp;&nbsp;
      <select style="display:none;"  id="input_dm_details_sssmh_care_from" name="dm_details[sssmh_care_from]" onchange="">
        <option value="0">Select</option>
        <%last_100_years.each do|each_year|%>
            <option value="<%=each_year%>"><%=each_year%></option>
        <%end%>
      </select>
      <!--<input style="display:none;" type="text" id="input_dm_details_sssmh_care_from" name="dm_details[sssmh_care_from]"/>-->
      <span style="padding-left: 0px;" id="span_dm_details_sssmh_care_from"> - </span>
    </div>

  </div>


  <div id="dm_details_for_patient_div" style="position:relative;height:75vh;border:1px solid green;width:100%;margin-left:0px;float:left;padding:5px;">

    <div id="dm_details_left_block" style="float: left;width:36%;border-right: 1px solid red;height: auto;">

      <div id="header_date_block" style="height: 8vh;border: 0px solid darkviolet;border-bottom:1px solid darkviolet">

        <div id="header_block" style="height:5vh;border:0px solid yellow;">
          <div style="margin-bottom:25px;margin-left:14px;margin-top:12px;float:left;border-right:0px solid green;height:5vh;">
            <div style="border-bottom:1px solid green;height: 3vh;"><b>Ex. Parameter</b></div>

            <!--<div style="margin-left:0px;border:0px dotted green;height:2vh;margin-top:5px;">-->
            <!--<b>Date Of Visit</b>-->
            <!--</div>-->
          </div>

          <div id="dm_header_visit_div" style="margin-left:6px;margin-top:4px;float:left;width: 63%;border-right:0px solid green;height:4.1vh;">
            <!--<div id="dm_header_visit_div" style="margin-left:6px;margin-top:5px;float:left;width:20%;border:1px solid green;height:4vh;">-->
            <div id="diabetes_new_visit_div" style="width:100%;height:4.1vh;border:0px solid green;border-bottom:1px solid green;" >
              <!--<input type="hidden" name="dm_details[patient_visit]" value="0">-->
              <div style="margin-left:20px;width:65%;float:left;height:auto;border:0px solid green;">
                <select id="dm_patient_visits_select_id" onchange="changeVisitOption(this.value,'dm');">
                  <option value="-1" selected>Select a Visit</option>
                  <option value="0">New Visit</option>
                </select>
              </div>

              <div id="diabetes_new_visit_calendar" style="border:0px solid green;height:auto;float:left;margin-left:2px;" align="left">
                <i style="display:none;" class="fa fa-calendar" id="dm_visit_calendar_icon" title="Select Date of Visit"></i>
                <input size="1" type="text" id="dm_datepicker" style="visibility:hidden;">
              </div>
            </div>

            <div id="dm_date_row_div" style="height:2vh;width:100%;border:0px solid red;">
              <!--<div id="visit_date" style="margin-left:60px;padding-left:40px;margin-top:0px;float:left;width:25%;border:1px dotted green;height:auto;"></div>-->
            </div>

          </div>

        </div>

      </div>

      <div class="ailment_mid_divs" id="dm_details_div" style="height:auto;overflow-y:auto;border:0px solid red;width:95%">

        <%examinations_for_diabetes.each do|each_dm_parameter|%>
            <div id="examination_header_<%=each_dm_parameter.code%>" style="margin-left:10px;height:4.5vh;width:100%;border-bottom:1px dotted green;" align="left">

              <div style="margin-left:0px;margin-top:5px;width:37%;float:left;border-right:0px solid green;border:0px dotted green;height:3vh;">
                <%=each_dm_parameter.name%>
              </div>

              <div align="center" style="margin-left:5px;margin-top:5px;float:left;width:53%;border:0px solid red;border-bottom:0px dotted green;height:3vh;">
                <%input_size = 15%>
                <%if each_dm_parameter.parameter_length %>
                    <%case each_dm_parameter.parameter_length%>
                      <%when "small"%>
                          <%input_size = 15%>
                      <%else%>
                          <%input_size = 30%>
                    <%end%>
                <%end%>

                <input style="display:none;" type="text" size="<%=input_size%>" id="input_dm_details_<%=each_dm_parameter.code%>" name="dm_details[<%=each_dm_parameter.code%>]"/>
                <span style="padding-left: 0px;" id="span_dm_details_<%=each_dm_parameter.code%>"> - </span>
                <%if(each_dm_parameter.units)%>
                    <%=each_dm_parameter.units%>
                <%end%>
              </div>

            </div>
        <%end%>

        <div id="examination_header_treatment_advised" style="margin-left:10px;height:13vh;width:100%;border-bottom:1px dotted green;" align="left">
          <div style="margin-left:0px;margin-top:5px;width:37%;float:left;border-right:0px solid green;border:0px dotted green;height:3vh;">
            Treatment Advised
          </div>

          <div align="center" style="margin-left:5px;margin-top:5px;float:left;width:53%;border:0px solid red;border-bottom:0px dotted green;height:3vh;">
            <span style="padding-left: 0px;" id="span_dm_details_treatment_advised"> - </span>
            <textarea style="display:none;"  rows="5" cols="25" name="dm_details[treatment_advised]" id="input_dm_details_treatment_advised">
            </textarea>
          </div>

        </div>

        <div id="examination_header_clinical_notes" style="margin-left:10px;height:13vh;width:100%;border-bottom:1px dotted green;" align="left">
          <div style="margin-left:0px;margin-top:5px;width:37%;float:left;border-right:0px solid green;border:0px dotted green;height:3vh;">
            Clinical Notes
          </div>

          <div align="center" style="margin-left:5px;margin-top:5px;float:left;width:53%;border:0px solid red;border-bottom:0px dotted green;height:3vh;">
            <span style="padding-left: 0px;" id="span_dm_details_clinical_notes"> - </span>
            <textarea style="display:none;"  rows="5" cols="25" name="dm_details[clinical_notes]" id="input_dm_details_clinical_notes">
            </textarea>
          </div>

        </div>


      </div>

    </div>

    <div id="dm_details_right_block" style="float: left;width: 63%;border: 0px solid red;">

      <div style="margin-left:6px;margin-top:12px;/* float:left; */width: 98%;border-right:0px solid green;border-bottom:1px solid green;height:2.9vh;" align="center">
        <b>History of Diabetes Examination Parameters for this Patient</b>
      </div>
      <div id="seperate_dm_details_div_block" style="height:auto;width:98%;border: 0px solid darkviolet;overflow-x: auto;">
        <div id="seperate_dm_details_div" style="border: 1px solid green;height:auto;"></div>
      </div>

    </div>

    <!--<div class="ailment_mid_divs" id="dm_header" style="height:5vh;width:100%;margin-bottom:5px;" align="center">-->


    <!--&lt;!&ndash;<div style="margin-left:22px;margin-top:5px;float:left;width:20%;border-right:0px solid green;border-bottom:1px solid green;height:4vh;"><b>Past 2</b></div>&ndash;&gt;-->
    <!--</div>-->

    <input type="hidden" id="dm_details_visit" name="dm_details[visit]">




  </div>
</div>