<div id="ailment_patient_main_div" style="">
	<%=render "diabetes_1_partial"%>
	<%=render "diabetes_2_partial"%>
	
	<%=render "hypertension_partial"%>
	<%=render "cardiac_ailments_partial"%>
	<%=render "epilepsy_partial"%>
	<%=render "asthma_partial"%>
	<%=render "thyroid_partial"%>
	<%=render "hyper_lipidemia_partial"%>
	<%=render "cva_partial"%>
	<%=render "others_partial"%>

	
</div>
