<%investigation_detail_parameters = get_all_investigation_detail_parameters%>

<div id="inv_det_main_div" style="width:100%;padding-top: 10px;overflow-y: auto;height: 450px;">
	<div id="main_inv_det_block" style="">
		<%for each_inv_det in investigation_detail_parameters%>
			<div id="inv_det_main_div_level_1_<%=each_inv_det.id%>" 
					style="border: 0px solid black;height: 25px;padding: 10px 10px 0 10px" 
					align="left">

				<span id="inv_det_check_box_div_<%=each_inv_det.id%>" style="padding-top: 3px;">
					<input type="checkbox" id="inv_det_check_box_id_<%=each_inv_det.id%>" name="inv_det_check_boxs"\>
				</span>

				<span id="inv_det_<%=each_inv_det.id%>" style="padding-left: 10px;padding-top: 5px;">
					<%=each_inv_det.name%>
				</span>
			</div>
		<%end%>
	</div>
</div>